html
  head
    title Custom Firechat
    link(href='/css/app.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.firebase.com/js/client/2.0.6/firebase.js')
    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.css')
    script(src='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.js')
    script.
      var myFirebaseRef = new Firebase("https://yourfireceurl");
      myFirebaseRef.authWithPassword({
        "email" :  "emailforauth",
        "password" :  "passwordforauth"
        }, function(error, authData){
        if(error){
        console.log('Login Failed!',error);
        }else{
        myFirebaseRef.child('room-messages/#{roomId}').on('child_added', function(snap){
          if(snap.key() !== undefined){
            $('#example-messages').append('<li>' +snap.val().name + ':' + snap.val().message +  '</li>')
          }
          });
        }
        });
  body
    script.
      var chat = new Firechat(myFirebaseRef);
      chat.setUser('user:uid', 'nickname', function(user){
        myFirebaseRef.child('room-metadata/').orderByChild('name').equalTo('#{roomId}').on('child_added', function(snapshot) {
          chat.enterRoom(snapshot.val().id);
        $('#messageInput').keypress(function(e){
          if(e.which === 13){
            var message = $(e.currentTarget).val();
            chat.sendMessage(snapshot.val().id, message, 'default', function(complete) {
              $(e.currentTarget).val('');
           });
          }
          });
          });
        });


  h2 Welcome to Firechat #{roomId}
  div.example-chat.l-demo-container
    header Inst Brew Firechat
    ul#example-messages.example-chat-messages(data-hook='chat-list-messages')
    footer
      input#messageInput(type='text', placeholder='Type a message...',data-hook='chat-message')
